@media (max-width: 1440px) {
  .container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }

  .info,
  .wishcard {
    max-width: 1200px;
    width: 100%;
    height: auto;
  }

  .info-title {
    font-size: 120px;
    margin: 30px 0 90px;
  }

  .info-text {
    width: 70%;
    margin: auto;
  }

  .info-description,
  .tabs {
    margin-right: 50px;
  }

  .tab-header__item {
    font-size: 14px;
  }

  /* .swiper-slide, */
  .form-label {
    width: 125.7px !important;
  }
}

@media (max-width: 1024px) {
  .container {
    width: auto;
    margin: 0 20px;
  }

  .info,
  .wishcard {
    width: 100%;
    margin: auto;
    margin-left: 0;
  }

  .info-description,
  .tabs {
    margin-right: 0;
  }

  .wishcard-title {
    font-size: 30px;
  }

  /* .swiper-slide, */
  .form-label {
    width: 105.3px !important;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 17px;
    line-height: 1.2;
  }

  .container {
    width: auto;
    margin: 0 13px 0 14px;
  }

  .wishcard {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
  }
  .info-title {
    font-size: 65px;
    margin: 30px 0 60px;
  }

  .tabs {
    display: block;
    width: auto;
  }

  .tab-header {
    width: auto;
  }

  .tab-content {
    position: relative;
    top: 0;
    left: 0;
  }

  /* .tab-content.active { */
  /* width: 725px; */
  /* width: max-content; */
  /* } */

  .form-label {
    width: 188px !important;
  }

  .swiper-button {
    display: none;
  }
}

@media (max-width: 425px) {
  body {
    font-size: 14px;
    line-height: 1.2;
    background-size: cover;
  }

  .info-title {
    font-size: 40px;
    margin: 30px 0 30px;
  }

  .info-text {
    width: 85%;
  }

  .form-label {
    width: 75px !important;
  }
}

@media (max-width: 375px) {
  body {
    background-position: center center;
  }
}
