@media (max-width: 1919px) and (min-width: 1440px) {
  html,
  body {
    overflow-x: hidden;
  }

  body {
    font-size: 19px;
    background-position-x: 0;
    background-size: 144%;
  }

  .container {
    max-width: 1200px;
    width: 90%;
    height: auto;
    margin: auto;
  }

  .info-title {
    font-size: 200px;
    margin: 30px 0 140px;
  }

  .tab-header__item:before {
    content: "";
    height: 133px;
  }

  .tab-content.active {
    height: 132.22px;
  }

  .swiper-slide {
    width: 132.22px !important;
  }

  .form-input {
    margin-bottom: -30px;
  }

  .form-label {
    width: 132.7px !important;
  }

  .wishcard {
    padding-bottom: 56%;
  }

  .wishcard-wrapper {
    display: inline-flex;
    flex-direction: column;
  }

  .sidebar-tabs {
    width: inherit;
    height: auto;
    top: 1045px;
  }

  .sidebar-tab {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .white {
    margin-top: 10px;
  }

  .sidebar-tab__figure {
    margin-top: 0;
  }

  .figure {
    padding-bottom: 10px;
  }

  .oval-top {
    margin-bottom: 20px;
  }

  .oval-bottom {
    margin-bottom: -35px;
  }

  .sidebar-tab__size {
    margin: 10px 0;
    width: 102px;
    height: 59px;
  }

  .sidebar-tabs_size {
    top: 760px;
    left: 707px;
  }

  .sidebar-tabs__title {
    height: 35px;
    line-height: 2;
  }

  .sidebar-button {
    width: 490px;
    height: 126px;
    position: relative;
    top: 760px;
    left: 707px;
  }

  .download {
    width: 435px;
    height: 60px;
    top: 1100px;
  }

  .button {
    font-size: 36px;
    transform: rotate(90deg);
    position: absolute;
    top: -60px;
  }

  .sidebar-tabs__content {
    left: 0;
  }

  .sidebar-tabs__content.active {
    top: -1050px;
  }

  #ovalSmall {
    top: -1193px;
  }

  .card {
    width: 1178px;
    /* height: fit-content; */
    display: grid;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    /* border: 1px solid red; */
    padding: 5px 10px;
  }

  #cw1 {
    grid-template-rows: 71px 70px 57px 91px 85px;
  }

  #cw2 {
    grid-row: 1 !important;
    grid-column: 2 !important;
  }

  #cw3 {
    grid-row: 1 !important;
    grid-column: 3 !important;
  }

  #cw4 {
    grid-row: 2 !important;
    grid-column: 1 !important;
    grid-template-rows: 75px 85px 90px 64px;
  }

  #cw5 {
    grid-row: 2 !important;
    grid-column: 2 !important;
    grid-template-rows: 74px 57px 45px 75px 98px;
  }

  #cw6 {
    grid-row: 2 !important;
    grid-column: 3 !important;
    margin-top: -13px;
    margin-left: -110px;
  }

  #cw7 {
    grid-row: 3 !important;
    grid-column: 1 !important;
    grid-template-rows: 69px 57px 54px 70px;
  }

  #cw8 {
    grid-row: 3 !important;
    grid-column: 2 !important;
    grid-template-rows: 50px 60px 94px 50px;
  }

  #cw9 {
    grid-row: 3 !important;
    grid-column: 3 !important;
    grid-template-rows: 78px 40px 70px 71px;
    margin-left: -127px;
  }

  #ovalBig {
    top: -1193px;
  }

  #cw10 {
    width: 1400px;
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    grid-template-columns: 67px 126px 111px 97px 93px 111px 97px 93px;
    grid-template-rows: 82px 41px 76px 60px 41px 76px 60px;
  }

  #quadrateSmall {
    top: -1193px;
  }

  #cw11 {
    grid-template-rows: 121px ​80px 95p;
  }

  #cw12 {
    grid-row: 1 !important;
    grid-column: 2 !important;
    grid-template-rows: 134px 74px 112px;
  }

  #cw13 {
    grid-row: 1 !important;
    grid-column: 3 !important;
  }

  #cw14 {
    grid-row: 2 !important;
    grid-column: 1 !important;
  }

  #cw15 {
    grid-row: 2 !important;
    grid-column: 2 !important;
    grid-template-rows: 96px ​115px 84px 63px;
    margin-left: -37px;
  }

  #cw16 {
    grid-row: 2 !important;
    grid-column: 3 !important;
    margin-top: -6px;
    margin-left: -79px;
  }

  #cw17 {
    grid-row: 3 !important;
    grid-column: 1 !important;
    grid-template-rows: 97px 70px 135px;
  }

  #cw18 {
    grid-row: 3 !important;
    grid-column: 2 !important;
    grid-template-rows: 92px 84px 119px;
    margin-left: -69px;
  }

  #cw19 {
    grid-row: 3 !important;
    grid-column: 3 !important;
    grid-template-rows: 85px 88px 120px;
    margin-left: -102px;
  }

  #quadrateBig {
    top: -1193px;
  }

  #cw20 {
    width: 1400px;
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    grid-template-columns: 99px 136px 129px 177px 120px 131px 59px 203px;
    grid-template-rows: 141px 44px 59px 80px 126px 50px 75px 107px;
  }
}

@media (max-width: 1439px) and (min-width: 1024px) {
  body {
    background-size: 254%;
  }

  .container {
    width: 1200px;
    height: auto;
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .tab-header__item {
    font-size: 7px;
  }

  .swiper-slide {
    width: 99.7px !important;
  }

  .form-label {
    width: 100.3px !important;
  }

  .wishcard {
    padding-bottom: 79%;
  }

  .wishcard-wrapper {
    width: 100%;
    max-width: 1215px;
    display: inline-flex;
    flex-direction: column;
  }

  .wishcard-title {
    font-size: 30px;
  }

  .sidebar-tabs {
    width: 490px;
    height: auto;
    top: 1045px;
  }

  .sidebar-tab {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .sidebar-tab__color {
    margin: 0;
  }

  .white {
    margin-top: 0;
  }

  .sidebar-tab__figure {
    margin-top: 0;
  }

  .figure {
    padding-bottom: 10px;
  }

  .oval-top {
    margin-bottom: 20px;
  }

  .oval-bottom {
    margin-bottom: -35px;
  }

  .sidebar-tab__size {
    margin: 10px 0;
    width: 102px;
    height: 59px;
  }

  .sidebar-tabs_size {
    top: 760px;
    left: 710px;
  }

  .sidebar-tabs__title {
    height: 35px;
    line-height: 2;
  }

  .sidebar-button {
    width: 490px;
    height: 126px;
    position: relative;
    top: 760px;
    left: 710px;
  }

  .download {
    width: 435px;
    height: 60px;
    top: 1100px;
  }

  .button {
    font-size: 36px;
    transform: rotate(90deg);
    position: absolute;
    top: -60px;
  }

  .sidebar-tabs__content {
    left: 0;
  }

  .sidebar-tabs__content.active {
    max-width: 1200px;
    top: -1050px;
  }

  #ovalSmall {
    top: -1193px;
  }

  .card {
    width: auto;
    height: auto;
    display: grid;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    padding: 5px 10px;
  }

  #cw1 {
    grid-template-rows: 71px 70px 57px 91px 85px;
  }

  #cw2 {
    grid-row: 1 !important;
    grid-column: 2 !important;
  }

  #cw3 {
    grid-row: 1 !important;
    grid-column: 3 !important;
  }

  #cw4 {
    grid-row: 2 !important;
    grid-column: 1 !important;
    grid-template-rows: 75px 85px 90px 64px;
  }

  #cw5 {
    grid-row: 2 !important;
    grid-column: 2 !important;
    grid-template-rows: 74px 57px 45px 75px 98px;
  }

  #cw6 {
    grid-row: 2 !important;
    grid-column: 3 !important;
    margin-top: -13px;
    margin-left: -110px;
  }

  #cw7 {
    grid-row: 3 !important;
    grid-column: 1 !important;
    grid-template-rows: 69px 57px 54px 70px;
  }

  #cw8 {
    grid-row: 3 !important;
    grid-column: 2 !important;
    grid-template-rows: 50px 60px 94px 50px;
  }

  #cw9 {
    grid-row: 3 !important;
    grid-column: 3 !important;
    grid-template-rows: 78px 40px 70px 71px;
    margin-left: -127px;
  }

  #ovalBig {
    top: -1193px;
  }

  #quadrateSmall {
    top: -1193px;
  }

  #cw11 {
    grid-template-rows: 121px ​80px 95p;
  }

  #cw12 {
    grid-row: 1 !important;
    grid-column: 2 !important;
    grid-template-rows: 134px 74px 112px;
  }

  #cw13 {
    grid-row: 1 !important;
    grid-column: 3 !important;
  }

  #cw14 {
    grid-row: 2 !important;
    grid-column: 1 !important;
  }

  #cw15 {
    grid-row: 2 !important;
    grid-column: 2 !important;
    grid-template-rows: 96px ​115px 84px 63px;
    margin-left: -37px;
  }

  #cw16 {
    grid-row: 2 !important;
    grid-column: 3 !important;
    margin-top: -6px;
    margin-left: -79px;
  }

  #cw17 {
    grid-row: 3 !important;
    grid-column: 1 !important;
    grid-template-rows: 97px 70px 135px;
  }

  #cw18 {
    grid-row: 3 !important;
    grid-column: 2 !important;
    grid-template-rows: 92px 84px 119px;
    margin-left: -69px;
  }

  #cw19 {
    grid-row: 3 !important;
    grid-column: 3 !important;
    grid-template-rows: 85px 88px 120px;
    margin-left: -102px;
  }

  #quadrateBig {
    top: -1193px;
  }

  #cw20 {
    width: 1400px;
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    grid-template-columns: 99px 136px 129px 177px 120px 131px 59px 203px;
    grid-template-rows: 141px 44px 59px 80px 126px 50px 75px 107px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  body {
    font-size: 17px;
    line-height: 1.2;
    background-position: center center;
    background-size: 457%;
  }

  .container {
    max-width: 1200px;
    height: auto;
    margin: auto;
    /* margin-left: 50px;
    margin-right: 50px; */
  }

  .info-title {
    font-size: 110px;
    margin: 30px 0 80px;
  }

  .tabs {
    width: 100%;
    display: block;
    margin-right: 20px;
  }

  .tab-header {
    width: auto;
    border-right: none;
  }

  .tab-header__item {
    font-size: 12px;
    border-bottom: 1px solid #000;
  }

  .tab-header__item:before {
    content: none;
  }

  .tab-header__item-none {
    border-bottom: none;
  }

  .tab-header__item-none.active {
    border-bottom: 1px solid #000;
  }

  .tab-content {
    position: relative;
    top: 0;
    left: 0;
    border: none;
  }

  .form-label {
    width: 188px !important;
  }

  .swiper {
    border-right: 1px solid #000 !important;
  }

  .swiper-slide {
    width: 224px !important;
  }

  .swiper-button {
    display: none;
  }

  .wishcard {
    /* overflow: auto; */
    white-space: nowrap;
    margin: auto;
    margin-top: -110px;
    margin-right: 20px;
    padding-bottom: 140%;
  }

  .wishcard-wrapper {
    width: 100%;
    max-width: 1215px;
    display: inline-flex;
    flex-direction: column;
  }

  .sidebar-tabs {
    width: 490px;
    height: auto;
    top: 1045px;
    /* z-index: 0; */
  }

  .sidebar-tab {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .white {
    margin-top: 0;
  }

  .sidebar-tab__color {
    margin: 0;
  }

  .sidebar-tab__figure {
    margin-top: 0;
  }

  .figure {
    padding-bottom: 10px;
  }

  .oval-top {
    margin-bottom: 20px;
  }

  .oval-bottom {
    margin-bottom: -35px;
  }

  .sidebar-tab__size {
    margin: 10px 0;
    width: 102px;
    height: 59px;
  }

  .sidebar-tabs_size {
    top: 1050px;
    left: 0;
    /* z-index: 1; */
  }

  .sidebar-tabs__title {
    height: 35px;
    line-height: 2;
  }

  .sidebar-button {
    width: 490px;
    height: 126px;
    position: relative;
    top: 1050px;
    left: 0;
    /* z-index: 0; */
  }

  .download {
    width: 435px;
    height: 60px;
    top: 1100px;
  }

  .button {
    font-size: 36px;
    transform: rotate(90deg);
    position: absolute;
    top: -60px;
  }

  .sidebar-tabs__content {
    left: 0;
  }

  .sidebar-tabs__content.active {
    max-width: 715px;
    top: -1046px;
  }

  #ovalSmall {
    top: -1193px;
  }

  .card {
    width: auto;
    height: auto;
    display: grid;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    padding: 5px 10px;
  }

  #cw1 {
    grid-template-rows: 71px 70px 57px 91px 85px;
  }

  #cw2 {
    grid-row: 1 !important;
    grid-column: 2 !important;
  }

  #cw3 {
    grid-row: 1 !important;
    grid-column: 3 !important;
  }

  #cw4 {
    grid-row: 2 !important;
    grid-column: 1 !important;
    grid-template-rows: 75px 85px 90px 64px;
  }

  #cw5 {
    grid-row: 2 !important;
    grid-column: 2 !important;
    grid-template-rows: 74px 57px 45px 75px 98px;
  }

  #cw6 {
    grid-row: 2 !important;
    grid-column: 3 !important;
    margin-top: -13px;
    margin-left: -110px;
  }

  #cw7 {
    grid-row: 3 !important;
    grid-column: 1 !important;
    grid-template-rows: 69px 57px 54px 70px;
  }

  #cw8 {
    grid-row: 3 !important;
    grid-column: 2 !important;
    grid-template-rows: 50px 60px 94px 50px;
  }

  #cw9 {
    grid-row: 3 !important;
    grid-column: 3 !important;
    grid-template-rows: 78px 40px 70px 71px;
    margin-left: -127px;
  }

  #ovalBig {
    top: -1193px;
  }

  #quadrateSmall {
    top: -1193px;
  }

  #cw11 {
    grid-template-rows: 121px ​80px 95p;
  }

  #cw12 {
    grid-row: 1 !important;
    grid-column: 2 !important;
    grid-template-rows: 134px 74px 112px;
  }

  #cw13 {
    grid-row: 1 !important;
    grid-column: 3 !important;
  }

  #cw14 {
    grid-row: 2 !important;
    grid-column: 1 !important;
  }

  #cw15 {
    grid-row: 2 !important;
    grid-column: 2 !important;
    grid-template-rows: 96px ​115px 84px 63px;
    margin-left: -37px;
  }

  #cw16 {
    grid-row: 2 !important;
    grid-column: 3 !important;
    margin-top: -6px;
    margin-left: -79px;
  }

  #cw17 {
    grid-row: 3 !important;
    grid-column: 1 !important;
    grid-template-rows: 97px 70px 135px;
  }

  #cw18 {
    grid-row: 3 !important;
    grid-column: 2 !important;
    grid-template-rows: 92px 84px 119px;
    margin-left: -69px;
  }

  #cw19 {
    grid-row: 3 !important;
    grid-column: 3 !important;
    grid-template-rows: 85px 88px 120px;
    margin-left: -102px;
  }

  #quadrateBig {
    top: -1193px;
  }

  #cw20 {
    width: 1400px;
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    grid-template-columns: 99px 136px 129px 177px 120px 131px 59px 203px;
    grid-template-rows: 141px 44px 59px 80px 126px 50px 75px 107px;
  }
}

@media (max-width: 767px) and (min-width: 425px) {
  body {
    font-size: 14px;
    line-height: 1.2;
    background-position: center center;
    background-size: 870%;
  }

  .container {
    max-width: 700px;
    height: auto;
    margin: auto;
    /* margin-left: 15px;
    margin-right: 15px; */
  }

  .info-title {
    font-size: 80px;
    margin: 30px 0 30px;
  }

  .info-description {
    margin-top: 20px;
  }

  .tabs {
    width: 100%;
    display: block;
    margin-right: 20px;
  }

  .tab-header {
    width: auto;
    border-right: none;
  }

  .tab-header__item {
    font-size: 12px;
    border-bottom: 1px solid #000;
  }

  .tab-header__item:before {
    content: none;
  }

  .tab-header__item-none {
    border-bottom: none;
  }

  .tab-header__item-none.active {
    border-bottom: 1px solid #000;
  }

  .tab-content {
    position: relative;
    top: 0;
    left: 0;
    border: none;
  }

  .form-label {
    width: 75px !important;
  }

  .swiper {
    border-right: 1px solid #000 !important;
  }

  .swiper-slide {
    width: 182.1px !important;
  }

  .swiper-button {
    display: none;
  }

  .wishcard {
    padding-bottom: 222%;
  }

  .wishcard-wrapper {
    width: 100%;
    max-width: 1215px;
    display: inline-flex;
    flex-direction: column;
  }

  .sidebar-tabs {
    max-width: 700px;
    width: 100%;
    height: auto;
    top: 920px;
    /* z-index: 0; */
  }

  .sidebar-tab {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .sidebar-tab__color {
    margin: 0;
  }

  .sidebar-tab__figure {
    margin-top: 0;
  }

  .figure {
    padding-bottom: 10px;
  }

  .oval-top {
    margin-bottom: 20px;
  }

  .oval-bottom {
    margin-bottom: -35px;
  }

  .sidebar-tab__size {
    margin: 10px 0;
    width: 102px;
    height: 59px;
  }

  .sidebar-tabs_size {
    top: 920px;
    left: 0;
    /* z-index: 1; */
  }

  .sidebar-tabs__title {
    height: 35px;
    line-height: 2;
  }

  .sidebar-button {
    max-width: 660px;
    width: 90%;
    height: 126px;
    position: relative;
    top: 920px;
    left: 0;
    /* z-index: 0; */
    padding: 0 20px 0 20px;
  }

  .download {
    /* max-width: 650px; */
    width: 100%;
    height: 60px;
    top: 1100px;
  }

  .button {
    font-size: 36px;
    transform: rotate(90deg);
    position: absolute;
    top: -60px;
  }

  .sidebar-tabs__content {
    left: 0;
  }

  .sidebar-tabs__content.active {
    max-width: 700px;
    width: 100%;
    top: -1046px;
  }

  #ovalSmall {
    top: -1193px;
  }

  .card {
    /* max-width: 700px; */
    height: auto;
    display: grid;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    padding: 5px 10px;
  }

  #cw1 {
    grid-template-rows: 71px 70px 57px 91px 85px;
  }

  #cw2 {
    grid-row: 1 !important;
    grid-column: 2 !important;
  }

  #cw3 {
    grid-row: 1 !important;
    grid-column: 3 !important;
  }

  #cw4 {
    grid-row: 2 !important;
    grid-column: 1 !important;
    grid-template-rows: 75px 85px 90px 64px;
  }

  #cw5 {
    grid-row: 2 !important;
    grid-column: 2 !important;
    grid-template-rows: 74px 57px 45px 75px 98px;
  }

  #cw6 {
    grid-row: 2 !important;
    grid-column: 3 !important;
    margin-top: -13px;
    margin-left: -110px;
  }

  #cw7 {
    grid-row: 3 !important;
    grid-column: 1 !important;
    grid-template-rows: 69px 57px 54px 70px;
  }

  #cw8 {
    grid-row: 3 !important;
    grid-column: 2 !important;
    grid-template-rows: 50px 60px 94px 50px;
  }

  #cw9 {
    grid-row: 3 !important;
    grid-column: 3 !important;
    grid-template-rows: 78px 40px 70px 71px;
    margin-left: -127px;
  }

  #ovalBig {
    top: -1193px;
  }

  #quadrateSmall {
    top: -1193px;
  }

  #cw11 {
    grid-template-rows: 121px ​80px 95p;
  }

  #cw12 {
    grid-row: 1 !important;
    grid-column: 2 !important;
    grid-template-rows: 134px 74px 112px;
  }

  #cw13 {
    grid-row: 1 !important;
    grid-column: 3 !important;
  }

  #cw14 {
    grid-row: 2 !important;
    grid-column: 1 !important;
  }

  #cw15 {
    grid-row: 2 !important;
    grid-column: 2 !important;
    grid-template-rows: 96px ​115px 84px 63px;
    margin-left: -37px;
  }

  #cw16 {
    grid-row: 2 !important;
    grid-column: 3 !important;
    margin-top: -6px;
    margin-left: -79px;
  }

  #cw17 {
    grid-row: 3 !important;
    grid-column: 1 !important;
    grid-template-rows: 97px 70px 135px;
  }

  #cw18 {
    grid-row: 3 !important;
    grid-column: 2 !important;
    grid-template-rows: 92px 84px 119px;
    margin-left: -69px;
  }

  #cw19 {
    grid-row: 3 !important;
    grid-column: 3 !important;
    grid-template-rows: 85px 88px 120px;
    margin-left: -102px;
  }

  #quadrateBig {
    top: -1193px;
  }

  #cw20 {
    width: 1400px;
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    grid-template-columns: 99px 136px 129px 177px 120px 131px 59px 203px;
    grid-template-rows: 141px 44px 59px 80px 126px 50px 75px 107px;
  }
}

@media (max-width: 424px) and (min-width: 375px) {
  body {
    font-size: 14px;
    line-height: 1.2;
    background-position: center center;
    background-size: 870%;
  }

  .container {
    max-width: 700px;
    height: auto;
    margin: auto;
    /* margin-left: 15px;
    margin-right: 15px; */
  }

  .info-title {
    font-size: 80px;
    margin: 30px 0 30px;
  }

  .info-description {
    margin-top: 20px;
  }

  .tabs {
    width: 100%;
    display: block;
    margin-right: 20px;
  }

  .tab-header {
    width: auto;
    border-right: none;
  }

  .tab-header__item {
    font-size: 12px;
    border-bottom: 1px solid #000;
  }

  .tab-header__item:before {
    content: none;
  }

  .tab-header__item-none {
    border-bottom: none;
  }

  .tab-header__item-none.active {
    border-bottom: 1px solid #000;
  }

  .tab-content {
    position: relative;
    top: 0;
    left: 0;
    border: none;
  }

  .form-label {
    width: 75px !important;
  }

  .swiper {
    border-right: 1px solid #000 !important;
  }

  .swiper-slide {
    width: 49.85% !important;
  }

  .swiper-button {
    display: none;
  }

  .wishcard {
    padding-bottom: 250%;
  }

  .wishcard-wrapper {
    width: 100%;
    max-width: 1215px;
    display: inline-flex;
    flex-direction: column;
  }

  .sidebar-tabs {
    max-width: 700px;
    width: 100%;
    height: auto;
    top: 920px;
    /* z-index: 0; */
  }

  .sidebar-tab {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .sidebar-tab__color {
    width: 50px;
    height: 50px;
    margin: 0;
  }

  .white {
    margin-top: 0;
  }

  .sidebar-tab__figure {
    margin-top: 0;
  }

  .figure {
    padding-bottom: 10px;
  }

  .oval-top {
    margin-bottom: 20px;
  }

  .oval-bottom {
    margin-bottom: -35px;
  }

  .sidebar-tab__size {
    margin: 10px 0;
    width: 102px;
    height: 59px;
  }

  .sidebar-tabs_size {
    top: 920px;
    left: 0;
    /* z-index: 1; */
  }

  .sidebar-tabs__title {
    height: 35px;
    line-height: 2;
  }

  .sidebar-button {
    max-width: 660px;
    width: 89%;
    height: 126px;
    position: relative;
    top: 920px;
    left: 0;
    /* z-index: 0; */
    padding: 0 20px 0 20px;
  }

  .download {
    /* max-width: 650px; */
    width: 100%;
    height: 60px;
    top: 1100px;
  }

  .button {
    font-size: 36px;
    transform: rotate(90deg);
    position: absolute;
    top: -60px;
  }

  .sidebar-tabs__content {
    left: 0;
  }

  .sidebar-tabs__content.active {
    max-width: 700px;
    width: 100%;
    top: -1046px;
  }

  #ovalSmall {
    top: -1193px;
  }

  .card {
    /* max-width: 700px; */
    height: auto;
    display: grid;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    padding: 5px 10px;
  }

  #cw1 {
    grid-template-rows: 71px 70px 57px 91px 85px;
  }

  #cw2 {
    grid-row: 1 !important;
    grid-column: 2 !important;
  }

  #cw3 {
    grid-row: 1 !important;
    grid-column: 3 !important;
  }

  #cw4 {
    grid-row: 2 !important;
    grid-column: 1 !important;
    grid-template-rows: 75px 85px 90px 64px;
  }

  #cw5 {
    grid-row: 2 !important;
    grid-column: 2 !important;
    grid-template-rows: 74px 57px 45px 75px 98px;
  }

  #cw6 {
    grid-row: 2 !important;
    grid-column: 3 !important;
    margin-top: -13px;
    margin-left: -110px;
  }

  #cw7 {
    grid-row: 3 !important;
    grid-column: 1 !important;
    grid-template-rows: 69px 57px 54px 70px;
  }

  #cw8 {
    grid-row: 3 !important;
    grid-column: 2 !important;
    grid-template-rows: 50px 60px 94px 50px;
  }

  #cw9 {
    grid-row: 3 !important;
    grid-column: 3 !important;
    grid-template-rows: 78px 40px 70px 71px;
    margin-left: -127px;
  }

  #ovalBig {
    top: -1193px;
  }

  #quadrateSmall {
    top: -1193px;
  }

  #cw11 {
    grid-template-rows: 121px ​80px 95p;
  }

  #cw12 {
    grid-row: 1 !important;
    grid-column: 2 !important;
    grid-template-rows: 134px 74px 112px;
  }

  #cw13 {
    grid-row: 1 !important;
    grid-column: 3 !important;
  }

  #cw14 {
    grid-row: 2 !important;
    grid-column: 1 !important;
  }

  #cw15 {
    grid-row: 2 !important;
    grid-column: 2 !important;
    grid-template-rows: 96px ​115px 84px 63px;
    margin-left: -37px;
  }

  #cw16 {
    grid-row: 2 !important;
    grid-column: 3 !important;
    margin-top: -6px;
    margin-left: -79px;
  }

  #cw17 {
    grid-row: 3 !important;
    grid-column: 1 !important;
    grid-template-rows: 97px 70px 135px;
  }

  #cw18 {
    grid-row: 3 !important;
    grid-column: 2 !important;
    grid-template-rows: 92px 84px 119px;
    margin-left: -69px;
  }

  #cw19 {
    grid-row: 3 !important;
    grid-column: 3 !important;
    grid-template-rows: 85px 88px 120px;
    margin-left: -102px;
  }

  #quadrateBig {
    top: -1193px;
  }

  #cw20 {
    width: 1400px;
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    grid-template-columns: 99px 136px 129px 177px 120px 131px 59px 203px;
    grid-template-rows: 141px 44px 59px 80px 126px 50px 75px 107px;
  }
}

@media (max-width: 374px) and (min-width: 320px) {
  body {
    font-size: 14px;
    line-height: 1.2;
    background-position: center center;
    background-size: 931%;
  }

  .container {
    max-width: 700px;
    height: auto;
    margin: auto;
    /* margin-left: 15px;
    margin-right: 15px; */
  }

  .info-title {
    font-size: 80px;
    margin: 30px 0 30px;
  }

  .info-description {
    margin-top: 20px;
  }

  .tabs {
    width: 100%;
    display: block;
    margin-right: 20px;
  }

  .tab-header {
    width: auto;
    border-right: none;
  }

  .tab-header__item {
    font-size: 12px;
    border-bottom: 1px solid #000;
  }

  .tab-header__item:before {
    content: none;
  }

  .tab-header__item-none {
    border-bottom: none;
  }

  .tab-header__item-none.active {
    border-bottom: 1px solid #000;
  }

  .tab-content {
    position: relative;
    top: 0;
    left: 0;
    border: none;
  }

  .form-label {
    width: 75px !important;
  }

  .swiper {
    width: 99%;
    border-right: 1px solid #000 !important;
  }

  .swiper-slide {
    width: 100% !important;
  }

  .swiper-button {
    display: none;
  }

  .wishcard {
    padding-bottom: 294%;
  }

  .wishcard-wrapper {
    width: 100%;
    max-width: 1215px;
    display: inline-flex;
    flex-direction: column;
  }

  .sidebar-tabs {
    max-width: 700px;
    width: 100%;
    height: auto;
    top: 920px;
    /* z-index: 0; */
  }

  .sidebar-tab {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .sidebar-tab__color {
    width: 50px;
    height: 50px;
    margin: 0;
  }

  .white {
    margin-top: 0;
  }

  .sidebar-tab__figure {
    margin-top: 0;
  }

  .figure {
    padding-bottom: 10px;
  }

  .oval-top {
    margin-bottom: 20px;
  }

  .oval-bottom {
    margin-bottom: -35px;
  }

  .sidebar-tab__size {
    margin: 10px 0;
    width: 102px;
    height: 59px;
  }

  .sidebar-tabs_size {
    top: 920px;
    left: 0;
    /* z-index: 1; */
  }

  .sidebar-tabs__title {
    height: 35px;
    line-height: 2;
  }

  .sidebar-button {
    max-width: 660px;
    width: 93.5%;
    height: 126px;
    position: relative;
    top: 920px;
    left: 0;
    /* z-index: 0; */
    padding: 0 10px 0 10px;
  }

  .download {
    /* max-width: 650px; */
    width: 100%;
    height: 60px;
    top: 1100px;
  }

  .button {
    position: absolute;
    transform: rotate(90deg);
    top: -60px;
    left: 140px;
  }

  .sidebar-tabs__content {
    left: 0;
  }

  .sidebar-tabs__content.active {
    max-width: 700px;
    width: 100%;
    top: -1046px;
  }

  #ovalSmall {
    top: -1193px;
  }

  .card {
    /* max-width: 700px; */
    height: auto;
    display: grid;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    padding: 5px 10px;
  }

  #cw1 {
    grid-template-rows: 71px 70px 57px 91px 85px;
  }

  #cw2 {
    grid-row: 1 !important;
    grid-column: 2 !important;
  }

  #cw3 {
    grid-row: 1 !important;
    grid-column: 3 !important;
  }

  #cw4 {
    grid-row: 2 !important;
    grid-column: 1 !important;
    grid-template-rows: 75px 85px 90px 64px;
  }

  #cw5 {
    grid-row: 2 !important;
    grid-column: 2 !important;
    grid-template-rows: 74px 57px 45px 75px 98px;
  }

  #cw6 {
    grid-row: 2 !important;
    grid-column: 3 !important;
    margin-top: -13px;
    margin-left: -110px;
  }

  #cw7 {
    grid-row: 3 !important;
    grid-column: 1 !important;
    grid-template-rows: 69px 57px 54px 70px;
  }

  #cw8 {
    grid-row: 3 !important;
    grid-column: 2 !important;
    grid-template-rows: 50px 60px 94px 50px;
  }

  #cw9 {
    grid-row: 3 !important;
    grid-column: 3 !important;
    grid-template-rows: 78px 40px 70px 71px;
    margin-left: -127px;
  }

  #ovalBig {
    top: -1193px;
  }

  #quadrateSmall {
    top: -1193px;
  }

  #cw11 {
    grid-template-rows: 121px ​80px 95p;
  }

  #cw12 {
    grid-row: 1 !important;
    grid-column: 2 !important;
    grid-template-rows: 134px 74px 112px;
  }

  #cw13 {
    grid-row: 1 !important;
    grid-column: 3 !important;
  }

  #cw14 {
    grid-row: 2 !important;
    grid-column: 1 !important;
  }

  #cw15 {
    grid-row: 2 !important;
    grid-column: 2 !important;
    grid-template-rows: 96px ​115px 84px 63px;
    margin-left: -37px;
  }

  #cw16 {
    grid-row: 2 !important;
    grid-column: 3 !important;
    margin-top: -6px;
    margin-left: -79px;
  }

  #cw17 {
    grid-row: 3 !important;
    grid-column: 1 !important;
    grid-template-rows: 97px 70px 135px;
  }

  #cw18 {
    grid-row: 3 !important;
    grid-column: 2 !important;
    grid-template-rows: 92px 84px 119px;
    margin-left: -69px;
  }

  #cw19 {
    grid-row: 3 !important;
    grid-column: 3 !important;
    grid-template-rows: 85px 88px 120px;
    margin-left: -102px;
  }

  #quadrateBig {
    top: -1193px;
  }

  #cw20 {
    width: 1400px;
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    grid-template-columns: 99px 136px 129px 177px 120px 131px 59px 203px;
    grid-template-rows: 141px 44px 59px 80px 126px 50px 75px 107px;
  }
}
