@media (max-width: 1440px) {
  .container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }

  .info,
  .wishcard {
    max-width: 1200px;
    width: 100%;
    height: auto;
  }

  .info-title {
    font-size: 120px;
    margin: 30px 0 90px;
  }

  .info-text {
    width: 70%;
    margin: auto;
  }

  .info-description,
  .tabs {
    margin-right: 50px;
  }

  .tab-header__item {
    font-size: 14px;
  }

  .swiper-slide,
  .form-label {
    width: 131.33px !important;
  }
}

@media (max-width: 1024px) {
  .container {
    width: auto;
    margin: 0 20px;
  }

  .info,
  .wishcard {
    width: 100%;
    margin: auto;
    margin-left: 0;
  }

  .info-description,
  .tabs {
    margin-right: 0;
  }

  .wishcard-title {
    font-size: 30px;
  }

  .swiper-slide,
  .form-label {
    width: 100px !important;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 17px;
    line-height: 1.2;
  }

  .info-title {
    font-size: 65px;
    margin: 30px 0 60px;
  }
}

@media (max-width: 425px) {
  body {
    font-size: 14px;
    line-height: 1.2;
    background-size: cover;
  }

  .info-title {
    font-size: 40px;
    margin: 30px 0 30px;
  }

  .info-text {
    width: 85%;
  }
}

@media (max-width: 375px) {
  body {
    background-position: center center;
  }
}
