body {
  font-family: "GillSansLightC", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
  line-height: 1.2;
  color: #000;
  background-image: url("../image/bg.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  /* margin: 0; */
}

.container {
  max-width: 1750px;
  width: 93%;
  height: auto;
  margin: auto;
  margin-right: 60px;
}

.info {
  /* max-width: 1670px; */
  height: auto;
  text-align: center;
  /* margin-left: 165px; */
}

.info-title {
  font-family: "Caravan", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 215px;
  line-height: 0.6;
  margin: 18px 0 148px 30px;
}

.info-description {
  height: auto;
  line-height: 1.24;
  text-align: justify;
  margin: 35px 0 0;
}

/* Галерея */
.gallery {
  /* max-width: 1875px; */
  height: auto;
  text-align: center;
}

.gallery-title {
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  text-align: center;
  margin: 32px 0 11px -8px;
}

/* Табы */
.tabs {
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  margin-bottom: 158px;
  /* margin-left: 124px; */
}

.tab-header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #000;
  /* margin: 0;
  padding-left: 0; */
}

.tab-header__item {
  height: 37px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 10px;
  letter-spacing: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.tab-header__item:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 143px;
  top: 100%;
  right: -1px;
  background-color: black;
  z-index: 1;
}

.tab-header__item.active {
  background-color: #fee1be;
}

.tab-header_border,
.swiper {
  border-right: none !important;
}

.tab-content {
  position: absolute;
  top: 37px;
  left: -1px;
  right: -1px;
  display: none;
  /* background: #000; */
  border: 1px solid #000;
  box-shadow: 4px 4.785px 6.04px 0.96px rgba(143, 143, 143, 0.56);
}

.tab-content.active {
  height: 142px;
  display: flex;
  justify-content: space-around;
}

.tab-content_new {
  background: #fff;
}

.swiper-slide-duplicate {
  margin-right: 0 !important;
}

/* Слайдер */
.swiper {
  width: 100%;
  height: 100%;
  border-right: 1px solid #000;
}

.swiper-none {
  background: #fff;
  z-index: 3;
}

.swiper-slide {
  display: block;
  width: 193.3px !important;
  height: auto !important;
  object-fit: cover;
  border-right: 1px solid #000;
  margin-right: 0 !important;
}

.swiper-button {
  background-repeat: no-repeat !important;
  width: 12px !important;
  height: 100px !important;
  top: 42% !important;
}

.swiper-button-prev {
  left: -11px !important;
}

.swiper-button-next {
  right: -10px !important;
}

/* Форма загрузки изображений */
.form-input[type="file"] {
  width: 183px;
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.form-input {
  margin-bottom: -55px;
}

.form-label {
  width: 194px;
  height: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Табы сайдбара */
.wishcard {
  height: auto;
  margin-left: -15px;
}
.sidebar-tabs {
  max-width: 97px;
  height: 433px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #000;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4.785px 6.04px 0.96px rgba(143, 143, 143, 0.56);
  margin-bottom: 30px;
}

.sidebar-tabs__title {
  font-size: 15px;
  line-height: 2.1;
  border-bottom: 1px solid #000;
  box-shadow: 4px 4.785px 6.04px 0.96px rgba(143, 143, 143, 0.56);
  text-align: center;
  /* margin-bottom: 15px; */
}

.sidebar-tab {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.sidebar-tab__color {
  width: 50px;
  height: 50px;
  box-shadow: 4px 4.785px 6.04px 0.96px rgba(143, 143, 143, 0.56);
  border: 1px solid #000;
  margin: 11px;
}

.white {
  background-color: rgb(255, 255, 255);
  margin-top: 26px;
}

.yellow {
  background-color: rgb(248, 245, 159);
}

.blue {
  background-color: rgb(170, 220, 248);
}

.pink {
  background-color: rgb(246, 190, 210);
}

.purple {
  background-color: rgb(185, 185, 239);
}

.sidebar-tabs__content {
  position: absolute;
  width: 1680px;
  height: 1180px;
  top: 0;
  left: 125px;
  right: 0;
  display: none;
  border: 1px solid red;
}

.sidebar-tabs__content.active {
  display: flex;
  border: 1px solid red;
}

/* Вторые табы сайдбара */
.oval-big {
  width: 50px;
  height: 60px;
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: 4px 4.785px 6.04px 0.96px rgba(143, 143, 143, 0.56);
  margin-top: 30px;
}

.figure {
  height: 90px;
  display: flex;
  align-items: center;
}

.oval-top {
  width: 23px;
  height: 32px;
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: 4px 4.785px 6.04px 0.96px rgba(143, 143, 143, 0.56);
  margin-bottom: 13px;
  margin-right: -7px;
}

.oval-bottom {
  width: 30px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: 4px 4.785px 6.04px 0.96px rgba(143, 143, 143, 0.56);
  margin-bottom: -43px;
}

.quadrate-big {
  width: 49px;
  height: 49px;
  border: 1px solid #000;
  box-shadow: 4px 4.785px 6.04px 0.96px rgba(143, 143, 143, 0.56);
  margin-top: 30px;
}

.quadrate-top {
  width: 20px;
  height: 40px;
  border: 1px solid #000;
  box-shadow: 4px 4.785px 6.04px 0.96px rgba(143, 143, 143, 0.56);
  margin-top: 30px;
  margin-bottom: 1px;
}

.quadrate-bottom {
  width: 30px;
  height: 25px;
  border: 1px solid #000;
  box-shadow: 4px 4.785px 6.04px 0.96px rgba(143, 143, 143, 0.56);
  margin-left: 17px;
}

.sidebar-tabs_size {
  height: 250px;
}

.sidebar-tab__size {
  width: 49px;
  height: 49px;
  font-family: "GillSansC", serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  box-shadow: 4px 4.785px 6.04px 0.96px rgba(143, 143, 143, 0.56);
  margin-top: 37px;
}
